body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  color: white;
}
.section {
  margin-bottom: 40px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
    position: relative;
    margin: 10px;
    padding: 15px;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.anchor {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    color: rgb(115, 235, 121);
    text-decoration: none;
    border-radius: 5px;
}

.anchor:hover {
    background-color: gray;
  }

footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
}